@page
@model SourceStack.Pages.Article.IndexModel
@{
    Layout = "Layout/_Dual2";
    ViewData["Title"] = "文章列表";
}

@foreach (var item in Model.Articles)
{
    <div>
        <i class="fa fa-calendar" aria-hidden="true"></i><small class="text-secondary">  2020年08月20日 21点02分</small> <span style="float:right">作者：<a href="#">@item.Author.Name</a></span>
        @*  <h5><a href="/Article/Single?id=@item.Id">@item.Title</a></h5>*@
        @*<h5><a href="/Article/@item.Id">@item.Title</a></h5>*@
        <h5><a asp-page="/Article/Single" asp-route-id="@item.Id">@item.Title</a></h5>
        <p>
            @item.Body
        </p>
        <div>
            <span class="font-weight-bold"><i class="fa fa-tags"></i>关键字：</span>
            @if(item.keywords!=null){
            for (int i = 0; i < item.keywords.Count; i++)
            {
                <span class="badge badge-pill badge-secondary">@item.keywords[i].Name</span>
            }
            }
        </div>
        <div style="text-align:right">
            <a href="#" class="ml-3"><i class="fa fa-commenting" aria-hidden="true"></i>评论:<span>  0</span></a>
            <a href="#" class="text-success ml-3"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>赞:<span>  0</span></a>
            <a href="#" class="text-secondary ml-3">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>踩:<span>
                    0
                </span>
            </a>

        </div>
    </div>
    <hr />
}
@*Model.Articles.Count*@

@{
    int currentPageIndex = Convert.ToInt32(RouteData.Values["id"]);//当前页

    int pages;//页数


}
@{ if ((Model.sumofArticles / 3) == 0)
    {
        pages = Model.sumofArticles / 3;
    }
    else
    {
        pages = (Model.sumofArticles / 3) + 1;
    }
    //页数判断
}

<nav aria-label="...">
    <ul class="pagination">
        @if (currentPageIndex > 1)
        {
            <li class="page-item ">
                @*<a class="page-link" aria-label="Private" href="/Article?pageIndex=@(currentPageIndex-1)">*@
                <a class="page-link" asp-page="/Article/Index" asp-route-id="@(currentPageIndex-1)" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        }

        @for (int i = 0; i < pages; i++)
        {
            if (currentPageIndex == (i + 1))
            {
                <li class="page-item active"><a class="page-link" asp-page="/Article/Index" asp-route-id="@(i+1)">@(i+1)</a></li>
            }
            else
            {
                @*<li><a class="page-link" href="/Article?pageIndex=@(i+1)">@(i+1)</a></li>*@
                <li class="page-item"><a class="page-link" asp-page="/Article/Index" asp-route-id="@(i+1)">@(i+1)</a></li>
            }
        }
        @if (currentPageIndex >= 1 && currentPageIndex != pages)
        {
            <li class="page-item">
                @*<a class="page-link" aria-label="Next" href="/Article?pageIndex=@(currentPageIndex+1)">*@
                <a class="page-link" asp-page="/Article/Index" asp-route-id="@(currentPageIndex+1)">Next</a>
            </li>
        }
    </ul>
</nav>


@section Description{

    <div style="border:2px dashed #f6f6f6">
        <h4><i class="fa fa-tags"></i>  关键字</h4>
        <hr />
        <a href="#" class="badge badge-dark">编程开发语言</a>
        <a href="#" class="badge badge-dark">C#</a>
        <a href="#" class="badge badge-dark">JAVA</a>
        <a href="#" class="badge badge-dark">工具软件</a>
        <a href="#" class="badge badge-dark">Javascript</a>
        <a href="#" class="badge badge-dark">顾问咨询</a>
        <a href="#" class="badge badge-dark">操作系统</a>
        <a href="#" class="badge badge-dark">VisualStudio</a>
        <a href="#" class="badge badge-dark">法律</a>
        <a href="#" class="badge badge-dark">SQL</a>
        <a href="#" class="badge badge-dark">.NET</a>
        <a href="#" class="badge badge-dark">CSS</a>
        <a href="#" class="badge badge-dark">Python</a>
        <a href="#" class="badge badge-dark">Linux</a>
        <a href="#" class="badge badge-dark">职场</a>
        <a href="#" class="badge badge-dark">法律</a>
        <hr />
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <a href="#" type="button" class="btn btn-light ml-4"><i class="fa fa-random"></i>   换一批</a>
        </div>


    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa fa-eye"></i>  每日督促</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-danger" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fa fa-heart"></i>  排行榜</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fa fa-user-circle"></i>  新注测</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent" style="border: 1px solid #dee2e6;border-top-style:none; line-height:30px;">

        <div class="tab-pane fade show active ml-4" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <h6><i class="fa fa-calendar-check-o" aria-hidden="true"></i>  2020年08月30日</h6>
            <table>

                <tbody>

                    <tr>
                        <td class="font-weight-bolder">共扫描目标：</td>
                        <td class="font-weight-bolder"><span><i class="fa fa-flag-o">1个</i></span></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bolder">当天休息：</td>
                        <td class="font-weight-bolder"><span><i class="fa fa-flag-o">1个</i></span></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bolder">已交作业:</td>
                        <td class="font-weight-bolder"><span><i class="fa fa-check text-success">0份</i></span></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bolder">请假：</td>
                        <td class="font-weight-bolder"><span><i class="fa fa-coffee">0人</i></span></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bolder">未交作业：</td>
                        <td class="font-weight-bolder"><span><i class="fa fa-remove text-primary">0人</i></span></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <table style="width:100%;">
                <tr>
                    <td align="center"><span class="order-tag item-0">1</span></td>
                    <td align="center"><a href="#" class="text-warning">叶飞</a><a href="#"><span>⑩</span></a></td>
                    <td align="center">652</td>
                </tr>
                <tr>
                    <td align="center"><span class="order-tag item-1">2</span></td>
                    <td align="center"><a href="#" class="text-warning">友人</a><a href="#"><span>⑤</span></a></td>
                    <td align="center">297</td>
                </tr>
                <tr>
                    <td align="center"><span class="order-tag item-1">3</span></td>
                    <td align="center"><a href="#" class="text-warning">qew123</a><a href="#"><span>③</span></a></td>
                    <td align="center">30</td>
                </tr>
                <tr>
                    <td align="center"><span class="order-tag item-2">4</span></td>
                    <td align="center"><a href="#" class="text-warning">loveyou</a><a href="#"><span>②</span></a></td>
                    <td align="center">30</td>
                </tr>
                <tr>
                    <td align="center"><span class="order-tag item-2">5</span></td>
                    <td align="center"><a href="#" class="text-warning">阿泰</a><a href="#"><span>⑩</span></a></td>
                    <td align="center">30</td>
                </tr>


            </table>
        </div>
        <div class="tab-pane fade mb-4" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div style="line-height:20px;text-align:left;margin-left:15px;">
                <small><i class="fa fa-calendar"></i> 2020年08月30日  16点20分</small><br />
                <span><a href="#">zhangxm2</a><span></span>  ①</span>
            </div>
            <div style="line-height:20px;text-align:left;margin-left:15px;margin-top:20px;">
                <small><i class="fa fa-calendar"></i> 2020年08月30日  01点20分</small><br />
                <span><a href="#">黄大仙2020</a><span></span>  ①</span>
            </div>
            <div style="line-height:20px;text-align:left;margin-left:15px;margin-top:20px;">
                <small><i class="fa fa-calendar"></i> 2020年08月26日  21点20分</small><br />
                <span><a href="#">z8719651 </a><span></span>①</span>
            </div>
            <div style="line-height:20px;text-align:left;margin-left:15px;margin-top:20px;">
                <small><i class="fa fa-calendar"></i> 2020年08月25日  1点20分</small><br />
                <span><a href="#">干菜烈火 </a><span></span>①</span>
            </div>
            <div style="line-height:20px;text-align:left;margin-left:15px;margin-top:20px;">
                <small><i class="fa fa-calendar"></i> 2020年08月24日  22点20分</small><br />
                <span><a href="#">卖女孩的小火柴 </a><span></span>①</span>
            </div>
            <span style="float:right;margin-right:20px;"><a href="#"><i class="fa fa-hand-o-right"></i>  更多</a></span>
        </div>
    </div>
    <div style="line-height:30px;margin-top:50px;">
        <div><span class="order-tag item-0">1</span><a href="#"><span class="name">免费广告位，抢到就是赚到！</span></a></div>
        <div><span class="order-tag item-1">2</span><a href="#"><span class="name">免费广告位，抢到就是赚到！</span></a></div>
        <div><span class="order-tag item-1">3</span><a href="#"><span class="name">免费广告位，抢到就是赚到！</span></a></div>
        <div><span class="order-tag item-2">4</span><a href="#"><span class="name">免费广告位，抢到就是赚到！</span></a></div>
        <div><span class="order-tag item-2">5</span><a href="#"><span class="name">免费广告位，抢到就是赚到！</span></a></div>
        <div><span class="order-tag item-2"> 6</span>本站主机由<a href="#">西部数码</a>提供 </div>
        <small style="float:right;"><a href="#"><i class="fa fa-audio-description" aria-hidden="true"></i>广告</a></small>

    </div>


}




